.table {
  table-layout: fixed;
  width: 100%;
}
.name {
  width: 60px;
  word-wrap:break-word;
}
.price .address {
  width: 64px;
  word-wrap:break-word;
}
 .age {
   width: 48px;
   word-wrap:break-word;
 }
